<div class="flexBox">
  <div class="col-12 md:col-6 lg:col-3">
    <div class="card">
      <div class="text-center mb-5">
        <img src="../../../../assets/layout/images/login/logo_salvador.jpg" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Bienvenida Carolina</div>
        <span class="text-600 font-medium line-height-3">Este es el generador de codigos promocionales</span>
      </div>

      <div>
        <label for="code" class="block text-900 font-medium mb-2">Codigo Promocional</label>
        <input id="code" type="text" placeholder="Digita el codigo promocional" pInputText class="w-full mb-3"
        [(ngModel)]="_codePromo">

        <label for="company" class="block text-900 font-medium mb-2">Empresa</label>
        <input id="company" type="text" placeholder="Digita la compañia" pInputText class="w-full mb-3"
        [(ngModel)]="_company">

        <div class="flex align-items-center">
          <button pButton pRipple label="Generar" icon="pi pi-check" class="w-full"  (click)="generateUrl(_codePromo, _company)"></button>
        </div>

        <div class="flex align-items-center">
          <br>
        </div>

        <label for="uri" class="flex align-items-center">Url Generada</label>
        <textarea id="uri" type="text" [ngModel]="_url" pInputTextarea class="w-full mb-3"
        [disabled]="true" rows="5" cols="30"></textarea>

      </div>
    </div>
  </div>
</div>
